<!-- { outlets: { primary: 'categories', details: null } } -->
<!-- <a [routerLink]="['/skills', 'categories']">Categories</a> -->
<!-- { outlets: { primary: 'subcategories', details: null } } -->
<!-- <a [routerLink]="['/skills', 'subcategories']">Sub categories</a> -->
<div class="pb-5" *ngIf="isCategoryDetailsVisible">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
        <h3 class="mt-2 ml-2 text-lg font-medium leading-6 text-gray-700">
            Skills
        </h3>
        <p class="mt-1 ml-2 text-sm text-gray-500 truncate">in
            {{selectedCategoryName}}
            <svg class="flex-shrink-0 inline-block w-5 h-5 text-gray-300" xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            {{selectedSubcategoryName}}
        </p>
    </div>
</div>
<app-skill-list-display
    *ngIf="isSkillsVisible"
    [skills]="skills"
    [skillAddCardType]="skillAddCardType"
    [skillCardType]="skillCardType"
    [menuItems]="menuItems"
    [showAddSkillCard]="showAddSkillCard"
    (addSkillCardClick)="addSkillCardClickHandler()"
    (contextMenuItemEvent)="onCardItemEvent($event)"
>
</app-skill-list-display>
<app-empty-state (addNewItem)="addSkillCardClickHandler()" *ngIf="!isSkillsVisible" [title]="emptyStateTitle"
                     [description]="emptyStateDescription" [buttonLabel]="emptyStateButtonLabel">
</app-empty-state>
