<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="register__header">Register</h2>
</div>
<div class="register__container">
    <div class="register__group">
        <form class="register__form" action="#">
            <div>
                <label class="register__label" for="email-address">Email address</label>
                <input id="email-address" name="email-address" type="email" class="register__field"
                       placeholder="example@email.com" autocomplete="email" />
            </div>
            <div>
                <label class="register__label" for="password">Password</label>
                <input id="password" name="password" type="password" class="register__field" placeholder=""
                       autocomplete="current-password">
            </div>
            <div class="flex flex-wrap -mx-3">
                <div class="w-1/2 px-3">
                    <label class="register__label" for="first-name">First name</label>
                    <input id="first-name" name="first-name" type="text" class="register__field" placeholder="">
                </div>
                <div class="w-1/2 px-3">
                    <label class="register__label" for="last-name">Last name</label>
                    <input id="last-name" name="last-name" type="text" class="register__field" placeholder="">
                </div>
            </div>
            <div>
                <label class="register__label" for="timezone">Timezone</label>
                <input id="timezone" name="timezone" type="text" class="register__field" placeholder="">
            </div>
            <div class="flex flex-wrap -mx-3">
                <div class="w-1/2 px-3">
                    <label class="register__label" for="work-hours">Work hours</label>
                    <input id="work-hours" name="work-hours" type="text" class="register__field" placeholder="">
                </div>
                <div class="w-1/2 px-3">
                    <label class="register__label" for="core-hours">Core hours</label>
                    <input id="core-hours" name="core-hours" type="text" class="register__field" placeholder="">
                </div>
            </div>
            <div>
                <button class="register__button" type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
    <p class="register__footer">Already have an Account? <a class="register__login" href="#">Log in.</a></p>
</div>
