:host {
    @apply block min-h-full;
    @apply flex flex-col justify-center items-center;
    @apply h-screen px-4 py-12;
}

:host::after {
    content: "";
    background-image: url(/assets/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.register {

    &__container {
        @apply w-full max-w-md;
        @apply bg-white rounded-md;
        @apply sm:mx-auto sm:w-full sm:max-w-md mt-8;
    }

    &__group {
        @apply px-6 py-8;
    }

    &__header {
        @apply text-3xl text-center;
        @apply font-bold text-gray-900;
    }

    &__form {
        @apply space-y-6;
    }

    &__label {
        @apply block tracking-wide text-gray-700 text-sm font-medium;
    }

    &__field {
        @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
        @apply mt-2;
    }

    &__button {
        @apply relative w-full flex justify-center py-2 px-4;
        @apply border border-transparent text-lg font-medium rounded-md;
        @apply text-indigo-100 bg-indigo-600 hover:bg-indigo-700 focus:outline-none;
        @apply focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
    }

    &__footer {
        @apply py-4 text-gray-500 text-center border-t border-gray-200;
    }

    &__login {
        @apply inline-block font-medium  underline hover:no-underline;
    }
}