<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <app-hamburger (clicked)="toggleMobileMenu()"></app-hamburger>
            <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
                <app-logo></app-logo>
                <div class="hidden sm:block sm:ml-12">
                    <app-navigation class="desktop-menu" [menu]="primaryMenu" [stacked]="false">
                    </app-navigation>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <app-profile-menu [menuItems]="profileMenu"></app-profile-menu>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" *ngIf="isMobileMenuOpen">
        <app-navigation class="mobile-menu" [menu]="primaryMenu" [stacked]="true"></app-navigation>
    </div>
</nav>
