/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "markup/form.scss";

body {
    @apply bg-gray-50;


}

html, body { @apply min-h-full; }

/* body {
    min-height: 100vh;
    height:auto !important;
    height: 100vh;
} */

.close-overlay {
    @apply fixed inset-0 h-full w-full cursor-default z-10; //bg-black opacity-50
}