:host {
  display: block;
  max-width: 250px;
  min-height: 190px;
}


.skill-stats {
    display: flex;
    flex-wrap: wrap;

    &__info {
        display: flex;
        flex-direction: column;
        flex: none;
    }
}