<div tabindex="0" (click)="addSkillCardClickHandler()"
     class="flex flex-col items-center justify-center h-full p-4 space-y-4 text-left text-indigo-500 bg-white border border-gray-100 rounded-lg shadow hover:border-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
    <svg class="w-16 h-16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <h3>Add New Skill</h3>
</div>
