<app-secondary-header [title]="title" [description]="description" (closeClick)="onCloseClick()"></app-secondary-header>
<ng-container *ngIf="skill">
    <div class="flex flex-col py-5 space-y-6">
        <app-read-field [fieldLabel]="'Skill name'" [fieldValue]="skill.name"></app-read-field>
        <app-read-field [fieldLabel]="'Category'" [fieldValue]="skill.categoryName"></app-read-field>
        <app-read-field [fieldLabel]="'Sub category'" [fieldValue]="skill.subCategoryName"></app-read-field>
        <app-read-field [fieldLabel]="'Employees'" [fieldValue]="skill.employees"></app-read-field>
        <app-read-field [fieldLabel]="'Team competency'" [fieldValue]="skill.teamCompetency"></app-read-field>
    </div>
</ng-container>
