<!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
<div class="absolute right-0 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
     role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

    <ng-container *ngFor="let menuItem of menus">
        <a [routerLink]="[menuItem.route]" routerLinkActive="router-link-active" (click)="onMenuItemClick(menuItem)"
           class="block px-4 py-2 text-sm text-gray-700" tabindex="-1">
            {{menuItem.label}}
        </a>
    </ng-container>


    <!-- Active: "bg-gray-100", Not Active: "" -->
    <!-- <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your
        Profile</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
       id="user-menu-item-1">Settings</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign
        out</a> -->
</div>
